<h1>@<%= current_user.username %>'s Feed</h1>

<p>Here is what everyone  has been doodling!!!</p>

<p class="text-center">
    <%= link_to image_tag("art.png", class: "img"), new_doodle_path %>
</p>

    <% @following_doodles.each do |doodle| %>
      <div class ="row">
          <div class="col-md-6 col-md-offset-3">
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h5>
                          @<%= link_to doodle.user.username, show_user_path(id: doodle.user.id) %>:
                          <%= doodle.title %>
                      </h5>
                  </div>
                  <div class="panel-body">
                        <%= doodle.canvas %>
                        
                        <%= doodle.rating %>
                  </div>
                  <div class="panel-footer">
                      <%= link_to 'Show', doodle %>
                      <% if current_user.id == doodle.user.id %>
                          <td><%= link_to 'Edit', edit_doodle_path(doodle) %></td>
                          <td><%= link_to 'Destroy', doodle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                      <% end %>
                  </div> 
              </div>
          </div>
      </div>
        
    <% end %>
